langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
langchain-experimental
chromadb
sentence-transformers
pypdf
pymupdf
python-dotenv
ipykernel
pandas
unstructured
pdfminer
python-docx
docx2txt
unstructured[docx]
openpyxl
scikit-learn
jq
matplotlib
langchain-huggingface
langchain-pinecone
rank-bm25